<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/semantic/st.css" type="text/css" /> 
    <script src="nodecopter-client.js"></script>
    <script src="socket.io.min.js"></script>
    <script src="jquery.min.js"></script>
    <script>
            $(function () {
                function startArDRoneStream() {
                    new NodecopterStream(document.getElementById("placeholder"), {port: 3001});
                }
                
                

                startArDRoneStream();
            })
        </script>
</head>
<body>
    <form>
        <!--<p align="center">--><div align="center"> <font face=Geneva color="dodgerblue"><B> Drone Pilot </B></font><!--</p>--> </div>
    </form>
    <form action="/takeoff" method="post">
        <input align="center" color="dodgerblue" type="submit" value="TAKEOFF" />
    </form>

    <form action="/land" method="post">
        <input align="center" face=Geneva type="submit" value="LAND" />
    </form>

    <!--<div oninput="range" class="slidecontainer">
        <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
    </div>-->

    <form oninput="result.value=(0+parseInt(b.value))/100" method="POST">
        <input type="range" name="b" min="0" max="100" value="0" />
        <output name="result">0</output>
    </form>

    <form action="/avant">
        <p class="marge"><input id="image" type="image" width="60" height="60" alt="Login" src="/semantic/avant.png" /></p>
    </form>

    <form>
        <input id="image" type="image" width="60" height="60" alt="Login" src="/semantic/gauche.png" />
        <input id="image" type="image" width="60" height="60" alt="Login" src="/semantic/droite.png" />
    </form>
    
    <form action="/arriere">
        <p class="marge"><input id="image" type="image" width="60" height="60" alt="Login" src="/semantic/arriere.png" /></p>
    </form>


    <div id="placeholder"></div>
    <video controls width="100" height="100" autoplay></video>


</body>
</html>